@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

;

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 400;
}


.main_content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 2em;
}